*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
nav{
    height: 10vh;
    background-color: #131c27;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header{
    min-height: 10vh;
    width: 100vw;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-right: 5vw;
}
li{
    padding-left: 6vw;
}
h1{
    font-family: 'Pattaya', sans-serif;
    padding-left: 2vw;
}
#book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(./img/landing-page.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    color: white;
    font-size: 30px;
}
#book-btn{
    color: white;
    background-color: #4c6e97;
    margin: 40px;
    padding: 15px 45px 15px 45px;
    font-size: 15px;
}
#locations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    background-image: url(./img/new-york-page.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-color: rgb(176, 172, 172);
    color: white;
    font-size: 30px;
    padding-left: 6vw;
}
#underlined{
    border-bottom: white;
    border-bottom-style: solid;
    border-width: 5px;
}
a {
    color: white;
    text-decoration: none;
}
#benefits{
    width: 100vw;
    height: 100vh;
}
#header-benefits{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    background-color: #131c27;
    height: 30vh;
    font-size: 5vh;
}
.icons-crop{
    width: 3vw;
    height: 4vh;
}
.icons{
    display: flex;
    justify-content: center;
    background-color: #131c27;
    padding: 15px;
}
#route{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 16vw;
}
#bed{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 16vw;
}
#plane{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 16vw;
}
#icon-boxes{
    margin-top: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 50vh;
}
h3{
    display: flex;
    justify-content: center;
    font-size: 3vh;
    padding-top: 2vh;
}
.text-benefits{
    display: flex;
    align-items: flex-end;
    padding-bottom: 2vh;
    height: 25vh;
    font-weight: bold;
}
#contact{
    height: 100vh;
    width: 100vw;
    background-color: rgb(176, 172, 172);
    background-image: url(./img/contact-mountain.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#contact-h2{
    color: white;
}
#contact-box{
    background: rgba(76, 175, 80, 0.3)
}