h1{
    font-style: italic;
    font-weight: bold;
    color: blue;
    font-size: 24px;
}
h2{
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}
h3{
    font-size: 16px;
    color: teal;
    font-weight: bold;
}
p{
    color: #4D4D4D;
}
#paragraaf1{
    font-weight: bold;
    color: antiquewhite;
}
a{
    color: #8A2BE2;
    text-decoration: none;
}
header{
    background-image: url("videogamecube.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 33vh;
}
article{
    border: 5px solid teal;
    border-radius: 10px;
    border-left: 10px solid teal;
}
