html {
  font-size: 62.5%;
  min-height: 100vh;
}
body {
  font-family: "Goldman", cursive;
  min-height: 100vh;
  background-color: black;
  background-image: url(./img/hackerbg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: sticky;
  top: 1px;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
title{
  font-weight: bold;
}
section{
  min-height: 100vh;
}
h1{
  text-align: center;
  color: white;
  font-family: "Goldman", cursive;
  font-size: 70px;
}
#htmlcss{
  float: right;
  text-align: right;
}
#js{
  float: left;
}
#php{
  float: right;
}
#sql{
  float: left;
}
p{
  color: white;
  font-family: "Goldman", cursive;
}
.rechts{
  float: right;
}
.links{
  float: left;
}
footer{
  font-family: "Goldman", cursive;
  background-color: #00a8c7;
  color: white;
  width: 100%;
  height: 10vh;
  text-align: center;
  font-size: 24px;
  position:relative;
  top: 100vh;
  padding-top: 50px;
}